[Unit]
Description=Xebecd Docker Container
Documentation=https://github.com/xebecproject/docker-xebecd
After=network.target docker.socket
Requires=docker.socket

[Service]
RestartSec=10
Restart=always

# Modify IP6_PREFIX to match network config
Environment="NAME=xebecd"
Environment="DATA_VOL=xebecd-data"
Environment="IMG=xebecproject/xebecd:dev"
Environment="PORT=27270:27270/tcp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-xebecd.service/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm -v ${DATA_VOL}:/xebec --name ${NAME} -p ${PORT} ${IMG} xebec_oneshot $ARGS

[Install]
WantedBy=multi-user.target
